<div class="container">
  <div style="text-align: center;">
      <h1>Bienvenido al buscador de películas</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label>Digita el nombre de la película</label>
      <div class="input-group">
          <input type="text" 
          class="form-control" 
          id="movie_search"
          placeholder="Digita la película y presiona el botón buscar" [(ngModel)]="search">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" (click)="searchMovies()">Buscar</button>
        </span>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
